name: inception

services:
  mariadb:
    build:
      context: ./requirements/mariadb
      args:
        BASE_IMAGE: ${BASE_IMAGE}
        OS_VERSION: ${OS_VERSION}
    image: mariadb
    container_name: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    volumes:
      - db-data:/var/lib/mysql
      - type: bind
        source: ../secrets/db_root_password.txt
        target: /run/secrets/db_root_password.txt
        read_only: true
      - type: bind
        source: ../secrets/db_password.txt
        target: /run/secrets/db_password.txt
        read_only: true
    expose:
      - "3306"
    networks:
      - inception

  wordpress:
    build:
      context: ./requirements/wordpress
      args:
        BASE_IMAGE: ${BASE_IMAGE}
        OS_VERSION: ${OS_VERSION}
    image: wordpress
    container_name: wordpress
    restart: always
    depends_on:
      - mariadb
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USER: ${WP_USER}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
    volumes:
      - wp-data:/var/www/html
      - type: bind
        source: ../secrets/db_password.txt
        target: /run/secrets/db_password.txt
        read_only: true
      - type: bind
        source: ../secrets/wp_admin_password.txt
        target: /run/secrets/wp_admin_password.txt
        read_only: true
      - type: bind
        source: ../secrets/wp_user_password.txt
        target: /run/secrets/wp_user_password.txt
        read_only: true
    expose:
      - "9000"
    networks:
      - inception

  nginx:
    build:
      context: ./requirements/nginx
      args:
        BASE_IMAGE: ${BASE_IMAGE}
        OS_VERSION: ${OS_VERSION}
    image: nginx
    container_name: nginx
    restart: always
    depends_on:
      - wordpress
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    ports:
      - "443:443" 
    volumes:
      - wp-data:/var/www/html:ro
      - type: bind
        source: ./requirements/nginx/conf
        target: /etc/nginx/conf.d
        read_only: true
    networks:
      - inception

networks:
  inception:
    name: incepnet
    driver: bridge

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      device: ${VOLUME}/db
      o: bind
  wp-data:
    driver: local
    driver_opts:
      type: none
      device: ${VOLUME}/wp
      o: bind
